extends layout.pug
block content


    div(class="container")
    if sampL == 0
        h4 Products 
        h2 No Entries..
    else
        h4 Products  
        table(id='myTable' class="table table-striped table-bordered" style="width:100%")
            thead
            tr
                th Product Name
                th Description
                th Product Type
                th Product Price
                th Product Quantity
                th Shipping Fee
                th
            tbody
                each val, index in sample
                    tr 
                        td=sample[index].productName
                        td=sample[index].description
                        td=sample[index].type
                        td=sample[index].price
                        td=sample[index].quantity
                        td=sample[index].shippingfee
                        td
                            //form(action='/buyProduct/prod/'+prod[index].productId+'?_method=delete' method="POST")
                                button Order
                            form(action='/orderProduct' method='post')    
                                input.hidden(type="hidden" value=sample[index].productId name='productId')
                                input.hidden(type="hidden" value=sample[index].userId name='userId')
                                    
                                button.btn(type="submit") Order
    